.header {
  display: flex;
  background-color: #F0F7EE;
  margin: 0;
  height: 15vh;
  align-items: center;
  justify-content: center;
}

.links-container {
  overflow: auto;
  background-color: #5D737E;
  height: 65vh;
}

.input-container {
  background-color: #5D737E;
  height: 20vh;
  display: flex;
}