.input-section {
	width: 50%;
	margin: auto;
	display: flex;
	margin-top: 30px;
	justify-content: space-around;
	align-items: center;
}

input {
	border: none;
	height: 30px;
	background-color: #B6BABE;
	width: 50%;
	border-radius: 3px;
	outline: none;
}

button {
	border-radius: 3px;
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	background: #F9835D;
	height: 30px;
	border: none;
	outline: none;
}

button:hover {
	opacity: 9;
	text-decoration: none;
}

button:active {
	padding: 9px 14px;
	outline: none;
}